@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  vertical-align: initial !important;
}
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
html body {
  font-family: system-ui, 'Arial Narrow', Arial, sans-serif;
}

@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
